@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Rochester:100,200,300,400,500,600,700');

body {
    margin: 0;
    padding: 0;
}

/*  --------------------  Styling for background image  --------------------  */

.background-image {
    height: 100vh;
    background: url(../images/holidayBackground.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    align-items: center;
    position: relative;
    justify-content: center;
}

.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.1);
}

/* -------------------- Styling for navbar------------------------- */

.navbar {
    position: absolute;
    z-index: 1;
}

.navbar-brand {
    font-family: "Rochester", sans-serif;
    color: white;
    font-size: 50px;
    margin-right: 0;
}

.navbar-brand:hover {
    color: #aadaff;
}

/* -------------------------- Carousel Styling ----------------------------- */

.container-full {
    padding-right: 0;
    padding-left: 0;
}

/*  -------------  Map and input control styling for google maps/places  ---------------  */

.map-header {
    font-family: "Rochester", sans-serif;
    color: black;
}

.reset-button {
    padding: 5px;
}

#map {
    height: 500px;
    width: 100%;
    border: 5px solid #000;
}


.mapControls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    width: 80%;
}

#searchMapInput {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
}

#searchMapInput:focus {
    border-color: #4d90fe;
}


.select-controls {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#category {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
}

#category:focus {
    border-color: #4d90fe;
}

#scrollToMapSearch {
    margin-top: 5px;
}

/* -------------------- Results table styling with hr and heading -------------------- */

table {
    font-size: 12px;
}

.header {
    margin-top: 5px;
    font-family: "Rochester", sans-serif;
    color: black;
}

.hr1 {
    width: 100%;
    height: 5px;
    background-color: white;
    padding: 0px;
    border: 0px;
    border-radius: 5px;
    margin-top: 30px;
}

#listing {
    position: none;
    width: inherit;
    height: 437px;
    overflow: auto;
    left: 442px;
    top: 0px;
    cursor: pointer;
    overflow-x: hidden;
}

#resultsTable {
    border-collapse: collapse;
    width: inherit;
}

/* ------------------------------- Image response styling -------------------------------- */

.result-image {
    width: 100%;
    overflow-y: hidden;
}

.photoStyle {
    padding: 10px;
}

#namePlace a {
    font-family: Roboto;
    color: black;
}

/* -----------------------InfoWidow styling for place information ------------------- */

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.hotelIcon {
    width: 24px;
    height: 24px;
}


#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}

#iw-rating {
    color: #007bff;
}

/* --------------------------- Footer styling ------------------------------- */

.footer-details {
    font-family: "Roboto", sans-serif;
    color: white;
}

footer {
    background-color: #007bff;
    margin-top: 20px;
}

p {
    font-size: 15px;
}

/* --------------------------- Media Queries ------------------------------- */

@media (max-width: 576px) {
    .dont-show {
        display: none;
    }
}

@media (min-width: 768px) {
    .hr1 {
        display: none;
    }
}

@media (min-width: 992px) {
    .navbar-brand {
        font-size: 90px;
    }
}
